/identifier.sqlite
/.idea/lockbox.iml
/.idea/.gitignore
/lockbox.sqlite
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/database/lockbox.sqlite
/.idea/vcs.xml
/.env
